.believe {
  height: 100vh;
  padding: 72px 260px 56px 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-image: url('../../assets/Mount.png');
  background-size: cover;
  background-position: center;
}
.believe .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.believe .list p {
  font-size: 14px;
}
.believe .item {
  display: flex;
  align-items: center;
  gap: 14px;
  color: white;
  font-size: 30px;
  font-weight: 300;
}
.believe .item span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #dedfce;
  color: #0d231f;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}
.believe .active {
  color: #eaeab6;
}
.believe .active span {
  background: #eaeab6;
}
.believe .foot {
  width: 540px;
  font-size: 14px;
  line-height: 1.5;
  color: #eaeab6;
}
