@use '../../vars' as *;
.quotes {
  background: $sage;
  .grid {
    display: grid;
    grid-template-columns: 64px 1fr;
    row-gap: 40px;
    align-items: center;
  }
  .mark {
    width: 28px;
    align-self: start;
    margin-top: 6px;
  }
  h2 {
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    max-width: 24em;
    margin-bottom: 40px;
  }
  .text {
    font-size: 14px;
    line-height: 1.5;
    max-width: 34em;
  }
  .row {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 520px;
  }
  .avatars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      object-fit: cover;
      transition:
        width 0.2s,
        height 0.2s;
    }
    .on img {
      width: 56px;
      height: 56px;
    }
  }
  .who {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -24px;
  }
}
