.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 60px 56px 60px;
  color: white;
  background-image: url('../../assets/IMAGE.png');
  background-size: cover;
  background-position: center;
}
.hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero a {
  color: white;
  text-decoration: none;
}
.hero h1 {
  font-size: 44px;
}
