.partners {
  background: #f0f1e6;
  padding: 80px 260px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.partners h2 {
  width: 600px;
  font-size: 30px;
}
.partners .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners .logos img {
  height: 30px;
}
.partners p {
  width: 560px;
  font-size: 14px;
  line-height: 1.5;
}
