.transparency {
  height: 600px;
  padding: 120px 260px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  background-image: url('../../assets/Fiov.png');
  background-size: cover;
  background-position: center;
}
.transparency h2 {
  width: 600px;
  font-size: 34px;
  color: #ddeee8;
  text-shadow: 0 0 8px black;
}
.transparency p {
  width: 560px;
  font-size: 14px;
  line-height: 1.5;
  text-shadow: 0 0 6px black;
}
