.join {
  background: #ecd0c0;
  padding: 100px 260px 120px 260px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.join h2 {
  font-size: 40px;
}
.join .form {
  display: flex;
  align-items: center;
  width: 640px;
  border-bottom: 1px solid #0d231f;
}
.join input {
  flex: 1;
  padding: 14px 0;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
  color: #0d231f;
}
.join .form button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #0d231f;
  color: white;
}
.join p {
  font-size: 14px;
}
