.stats {
  background: #e9f1f3;
  padding: 80px 0 80px 260px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.stats .left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 620px;
}
.stats h2 {
  width: 400px;
  font-size: 40px;
  padding-bottom: 28px;
}
.stats .stat {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 24px;
  background: white;
  border-radius: 16px;
}
.stats .num {
  width: 130px;
  font-size: 20px;
}
.stats .big {
  font-size: 48px;
  font-weight: 300;
}
.stats .stat p {
  flex: 1;
  font-size: 14px;
  line-height: 1.4;
}
.stats .stat .circle {
  width: 32px;
  height: 32px;
  background: #e9f1f3;
}
.stats .stat .circle img {
  width: 10px;
}
.stats .note {
  padding-top: 28px;
  width: 520px;
  font-size: 14px;
  line-height: 1.5;
}
.stats .balloon {
  width: 330px;
}
